body {
  font-family: "Roboto";
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
    display: flex;
    flex: 1; 
    flex-direction: column;
}

header, .title, footer {
    background-color: #1F2937;
}

header {
    display: flex;
    align-content: center;
    justify-content: space-around;
    padding: 16px;
}

.hlogo {
    font-weight: bolder;
}

.title {
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 160px;
}   

.hero,.hero2 {
    margin-bottom: 5px;
    display: flex;
}

.hero {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero2 {
    font-size: 18px;
    color: #e6e7eb;

}

.herobox {
    background-color: #7d858e;
    padding: 100px 140px;
    color: white;
    font-size: 18px;
}

.info {

    
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 130px;
    gap: 40px;
}

.text {
    color: #525252;
    text-align: center;
    width: 150px;
}


.infotitle {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.imgtxt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    border: #3882F6;
    background-color: white;
    padding: 90px;
    border-width: 4px;
    border-style: solid;
    border-radius: 20px;

}

.quote {
    background-color: #e6e7eb;
    padding: 160px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.quotetxt {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
    width: 830px; 

}

.quotesmall {
    font-weight: 900;
    text-align: end;
    font-size: 25px;
    display: flex;
    justify-content: end;
}

.signup {
    padding: 100px;
    display: flex;
    justify-content: center;
    
}

.signbox {
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    padding: 40px;
    border-radius: 10px;
    color: white;
    width: 50%;
    gap: 200px;
}
.boldtext {
    font-weight: 900;
    font-size: 22px;
}

footer {
    display: flex;
    justify-content: center;
    color: #F9FAF8;
    padding: 25px;
}

button, #buttonbottom {
    color: white;
    background-color: #3882F6;
    border-radius: 7px;
    padding: 7px 25px;
    font-weight: bold;
    font-size: 16px;
    text-shadow: none;
    border: 1px solid #0055cc;
}

#buttonbottom {
    border: 2px solid #ffffff;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 32px;
}